<div class="container-Popular-movies">
  <div class="header-Popular-movies">
    <h1>Populares da semana</h1>
  </div>
  <div class="card-Popular-movies">
    <div *ngFor="let movie of listPopularMovies" class="list-movies">
      <div (click)="goToMovieDetails(movie.id)" class="movie-link">
        <img
          src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
          alt=""
          class="cover-movie"
        />
        <div class="card-hover">
          <span class="btn-watch">watch</span>
        </div>
      </div>
    </div>
  </div>
</div>
