.lcontainer-movies {
    display: flex;
    gap: 8px;
    padding: 4px 2px;
    max-width: 1000px;
    margin: 0px auto;
    overflow: auto;
  }
  .lcontainer-movies::-webkit-scrollbar {
    height: 8px;
  }
  .lcontainer-movies::-webkit-scrollbar-thumb {
    background-color: rgb(52, 49, 49);
    border-radius: 5px;
  }
  .list-movies {
    flex: 0 0 auto;
    min-width: 200px;
  
    display: flex;
    position: relative;
    overflow: hidden;
  }
  .cover-movie {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    border-radius: 5px;
  }
  .movie-link {
    height: 300px;
    position: relative;
  }
  .movie-link:hover .cover-movie {
    transform: scale(1.2);
    filter: blur(2px);
  }
  .movie-link:hover .btn-watch {
    display: block;
  }
  .btn-watch {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid;
    padding: 4px;
    font-size: 22px;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
    border-radius: 5px;
  }
  